In [284]:
import numpy as np
import pandas as pd
import os

In [285]:
#Set the paths
registered_business_path = os.path.join('Cleaned Datasets', 'cleaned_registered_businesses.csv')
# health_scores_path = os.path.join('Cleaned Datasets', 'health_scores.csv')

#merge the aggregated health scores with MA
health_scores_path = os.path.join('Cleaned Datasets', 'aggregated_health_scores_ma.csv')


registered_business_df = pd.read_csv(registered_business_path)
health_scores_df = pd.read_csv(health_scores_path)

In [286]:
registered_business_df.head(10)
len(registered_business_df)

223102

In [287]:
#lower the name of the business and street address
registered_business_df['business_name'] = registered_business_df['business_name'].str.lower()
registered_business_df['street_address'] = registered_business_df['street_address'].str.lower()

#Drop any business_name or street_address that has null values
registered_business_df['street_address'].replace('', np.nan, inplace=True)
registered_business_df = registered_business_df.dropna(subset=['street_address'])

#Convert street address column to string 
registered_business_df['street_address'] = registered_business_df['street_address'].astype('str')

#convert zipcode address column to int
#registered_business_df['zipcode'] = registered_business_df['zipcode'].astype('int')


registered_business_df.head(1)
len(registered_business_df)

223098

In [288]:
#remove the whitespaces at the end of business and street address
registered_business_df['business_name'] = registered_business_df['business_name'].str.strip()
registered_business_df['street_address'] = registered_business_df['street_address'].str.strip()

registered_business_df.head(1)

,business_name,category,lic_code,street_address,State,City,zipcode,business_start_date,business_end_date,neighborhoods,business_location,supervisor_district,Lifespan,closed,age_if_opened
0,blossoming lotus acupuncture,Private Education and Health Services,NaN,2670 leavenworth st a,CA,San Francisco,94109.0,01/28/2010,NaN,North Beach,"2670 LEAVENWORTH ST\nA San Francisco, CA 94109\n",2.0,NaN,no,3107.0

In [289]:
registered_business_df.head(1)

,business_name,category,lic_code,street_address,State,City,zipcode,business_start_date,business_end_date,neighborhoods,business_location,supervisor_district,Lifespan,closed,age_if_opened
0,blossoming lotus acupuncture,Private Education and Health Services,NaN,2670 leavenworth st a,CA,San Francisco,94109.0,01/28/2010,NaN,North Beach,"2670 LEAVENWORTH ST\nA San Francisco, CA 94109\n",2.0,NaN,no,3107.0

In [ ]:
# replace ', ", -, etc
registered_business_df['business_name'] = registered_business_df['business_name'].str.replace(r"[\"\',-.@!$%^&*]", '')

#get the first 2 words from street address
registered_business_df['formatted_address'] = registered_business_df['street_address'].str.split().str[0] + " " + registered_business_df['street_address'].str.split().str[1]
registered_business_df['formatted_name'] = registered_business_df['business_name'].str.split().str[0]

#drop the null formatted addresses 
registered_business_df = registered_business_df.dropna(subset=['formatted_address'])

#create a unique id based off the formatted address and name
registered_business_df['uniqueid'] = registered_business_df['formatted_name'] + registered_business_df['formatted_address']

#convert zipcode to integer 
#registered_business_df['zipcode'] = registered_business_df['zipcode'].astype('int')

registered_business_df.head(1)

In [ ]:
#add a new column with concatted address
registered_business_df['full_address'] = registered_business_df['street_address'] + ', ' + registered_business_df['City'] + ', ' + registered_business_df['State'] + ', ' + registered_business_df['zipcode'].astype('str')
registered_business_df.head(2)

# Clean up the health scores dataset

In [ ]:
health_scores_df.head(10)

In [ ]:
#lower the name of the business and street address
health_scores_df['name'] = health_scores_df['name'].str.lower()
health_scores_df['address'] = health_scores_df['address'].str.lower()

#Drop any street_address that has null values
health_scores_df['address'].replace('', np.nan, inplace=True)
health_scores_df = health_scores_df.dropna(subset=['address'])

#Convert street address column to string 
health_scores_df['address'] = health_scores_df['address'].astype(str)

registered_business_df.head(1)
len(registered_business_df)

In [ ]:
#remove the whitespaces at the end of business and street address
health_scores_df['name'] = health_scores_df['name'].str.strip()
health_scores_df['address'] = health_scores_df['address'].str.strip()

health_scores_df.head(1)

In [ ]:
# replace ', ", -, etc
health_scores_df['name'] = health_scores_df['name'].str.replace(r"[\"\',-.@!$%^&*]", '')

#get the first 2 words from street address
health_scores_df['formatted_address'] = health_scores_df['address'].str.split().str[0] + " " + health_scores_df['address'].str.split().str[1]
health_scores_df['formatted_name'] = health_scores_df['name'].str.split().str[0]

#drop the null formatted addresses 
health_scores_df = health_scores_df.dropna(subset=['formatted_address'])

#create a unique id based off the formatted address and name
health_scores_df['uniqueid'] = health_scores_df['formatted_name'] + health_scores_df['formatted_address']

In [ ]:
#get the columns we need
# health_scores_df = health_scores_df[['business_id', 'name', 'score', 'year', 'formatted_address', 'formatted_name', 'latitude', 'longitude', 'uniqueid']]

#moving average
health_scores_df = health_scores_df[['business_id', 'name', 'MA', 'year', 'formatted_address', 'formatted_name', 'latitude', 'longitude', 'uniqueid']]

len(health_scores_df)

# health_scores_df.head(1000)

In [ ]:
#Merge the registered business df with the geocodes to get unique location id
merged = registered_business_df.merge(health_scores_df, on='uniqueid')

merged = merged[merged['category'] == 'Food Services']
len(merged)

In [ ]:
merged.head(100)

In [ ]:
path = os.path.join('Cleaned Datasets', 'final-merged.csv')
merged.to_csv(path, index=False)