In [146]:
import numpy as np
import pandas as pd
import os

In [147]:
#Set the paths
registered_business_path = os.path.join('Cleaned Datasets', 'cleaned_registered_businesses.csv')
health_scores_path = os.path.join('Cleaned Datasets', 'health_scores.csv')

registered_business_df = pd.read_csv(registered_business_path)
health_scores_df = pd.read_csv(health_scores_path)

In [148]:
registered_business_df.head(10)
len(registered_business_df)

223102

In [149]:
#lower the name of the business and street address
registered_business_df['business_name'] = registered_business_df['business_name'].str.lower()
registered_business_df['street_address'] = registered_business_df['street_address'].str.lower()

#Drop any business_name or street_address that has null values
registered_business_df['street_address'].replace('', np.nan, inplace=True)
registered_business_df = registered_business_df.dropna(subset=['street_address'])

#Convert street address column to string 
registered_business_df['street_address'] = registered_business_df['street_address'].astype(str)

registered_business_df.head(1)
len(registered_business_df)

223098

In [150]:
#remove the whitespaces at the end of business and street address
registered_business_df['business_name'] = registered_business_df['business_name'].str.strip()
registered_business_df['street_address'] = registered_business_df['street_address'].str.strip()

registered_business_df.head(1)

,business_name,category,lic_code,street_address,State,City,zipcode,business_start_date,business_end_date,neighborhoods,business_location,supervisor_district,Lifespan,closed,age_if_opened
0,blossoming lotus acupuncture,Private Education and Health Services,NaN,2670 leavenworth st a,CA,San Francisco,94109.0,01/28/2010,NaN,North Beach,"2670 LEAVENWORTH ST\nA San Francisco, CA 94109\n",2.0,NaN,no,3107.0

In [151]:
registered_business_df.head(1)

,business_name,category,lic_code,street_address,State,City,zipcode,business_start_date,business_end_date,neighborhoods,business_location,supervisor_district,Lifespan,closed,age_if_opened
0,blossoming lotus acupuncture,Private Education and Health Services,NaN,2670 leavenworth st a,CA,San Francisco,94109.0,01/28/2010,NaN,North Beach,"2670 LEAVENWORTH ST\nA San Francisco, CA 94109\n",2.0,NaN,no,3107.0

In [152]:
# replace ', ", -, etc
registered_business_df['business_name'] = registered_business_df['business_name'].str.replace(r"[\"\',-.@!$%^&*]", '')

#get the first 2 words from street address
registered_business_df['formatted_address'] = registered_business_df['street_address'].str.split().str[0] + " " + registered_business_df['street_address'].str.split().str[1]
registered_business_df['formatted_name'] = registered_business_df['business_name'].str.split().str[0]

#drop the null formatted addresses 
registered_business_df = registered_business_df.dropna(subset=['formatted_address'])

#create a unique id based off the formatted address and name
registered_business_df['uniqueid'] = registered_business_df['formatted_name'] + registered_business_df['formatted_address']


registered_business_df.head(1)

,business_name,category,lic_code,street_address,State,City,zipcode,business_start_date,business_end_date,neighborhoods,business_location,supervisor_district,Lifespan,closed,age_if_opened,formatted_address,formatted_name,uniqueid
0,blossoming lotus acupuncture,Private Education and Health Services,NaN,2670 leavenworth st a,CA,San Francisco,94109.0,01/28/2010,NaN,North Beach,"2670 LEAVENWORTH ST\nA San Francisco, CA 94109\n",2.0,NaN,no,3107.0,2670 leavenworth,blossoming,blossoming2670 leavenworth

# Clean up the health scores dataset

In [153]:
health_scores_df.head(10)

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,score,date,type,year,month
0,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,14157763262,94.0,2017-12-11,routine,2017.0,12.0
1,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,14157763262,96.0,2018-06-07,routine,2018.0,6.0
2,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,14157763262,94.0,2016-05-13,routine,2016.0,5.0
3,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,14156779494,96.0,2016-03-11,routine,2016.0,3.0
4,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,14156779494,98.0,2016-10-05,routine,2016.0,10.0
5,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,14156779494,98.0,2017-11-01,routine,2017.0,11.0
6,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004,NaN,98.0,2015-12-04,routine,2015.0,12.0
7,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004,NaN,96.0,2018-06-15,routine,2018.0,6.0
8,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,San Francisco,CA,94110,37.747114,-122.413641,14156415051,85.0,2017-09-14,routine,2017.0,9.0
9,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,San Francisco,CA,94110,37.747114,-122.413641,14156415051,88.0,2018-05-29,routine,2018.0,5.0

In [154]:
#lower the name of the business and street address
health_scores_df['name'] = health_scores_df['name'].str.lower()
health_scores_df['address'] = health_scores_df['address'].str.lower()

#Drop any street_address that has null values
health_scores_df['address'].replace('', np.nan, inplace=True)
health_scores_df = health_scores_df.dropna(subset=['address'])

#Convert street address column to string 
health_scores_df['address'] = health_scores_df['address'].astype(str)

registered_business_df.head(1)
len(registered_business_df)

223033

In [155]:
#remove the whitespaces at the end of business and street address
health_scores_df['name'] = health_scores_df['name'].str.strip()
health_scores_df['address'] = health_scores_df['address'].str.strip()

health_scores_df.head(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,score,date,type,year,month
0,19,nrgize lifestyle cafe,"1200 van ness ave, 3rd floor",San Francisco,CA,94109,37.786848,-122.421547,14157763262,94.0,2017-12-11,routine,2017.0,12.0

In [156]:
# replace ', ", -, etc
health_scores_df['name'] = health_scores_df['name'].str.replace(r"[\"\',-.@!$%^&*]", '')

#get the first 2 words from street address
health_scores_df['formatted_address'] = health_scores_df['address'].str.split().str[0] + " " + health_scores_df['address'].str.split().str[1]
health_scores_df['formatted_name'] = health_scores_df['name'].str.split().str[0]

#drop the null formatted addresses 
health_scores_df = health_scores_df.dropna(subset=['formatted_address'])

#create a unique id based off the formatted address and name
health_scores_df['uniqueid'] = health_scores_df['formatted_name'] + health_scores_df['formatted_address']

In [157]:
#get the columns we need
health_scores_df = health_scores_df[['business_id', 'name', 'score', 'year', 'formatted_address', 'formatted_name', 'latitude', 'longitude', 'uniqueid']]


len(health_scores_df)

# health_scores_df.head(1000)

14859

In [158]:
#Merge the registered business df with the geocodes to get unique location id
merged = registered_business_df.merge(health_scores_df, on='uniqueid')

merged = merged[merged['category'] == 'Food Services']
len(merged)

9828

In [159]:
merged.head(100)

,business_name,category,lic_code,street_address,State,City,zipcode,business_start_date,business_end_date,neighborhoods,...,formatted_name_x,uniqueid,business_id,name,score,year,formatted_address_y,formatted_name_y,latitude,longitude
0,yokai express inc,Food Services,NaN,135 4th st ste 4000,CA,San Francisco,94103.0,12/28/2017,NaN,Financial District/South Beach,...,yokai,yokai135 4th,94310,yokai express,100.0,2018.0,135 4th,yokai,NaN,NaN
1,sizzling pot king,Food Services,"Restaurant 1,000 - 2,000 Sqft",139 8th st,CA,San Francisco,94103.0,12/28/2017,NaN,South of Market,...,sizzling,sizzling139 8th,94408,sizzling pot king,86.0,2018.0,139 8th,sizzling,NaN,NaN
2,sizzling pot king,Food Services,"Restaurant 1,000 - 2,000 Sqft",139 8th st,CA,San Francisco,94103.0,12/28/2017,NaN,South of Market,...,sizzling,sizzling139 8th,94408,sizzling pot king,80.0,2018.0,139 8th,sizzling,NaN,NaN
3,burma super star restaurant,Food Services,"Restaurant 1,000 - 2,000 Sqft",309 clement st,CA,San Francisco,94118.0,03/01/2001,NaN,Inner Richmond,...,burma,burma309 clement,1977,burma superstar restaurant,91.0,2017.0,309 clement,burma,37.783004,-122.462539
4,burma super star restaurant,Food Services,"Restaurant 1,000 - 2,000 Sqft",309 clement st,CA,San Francisco,94118.0,03/01/2001,NaN,Inner Richmond,...,burma,burma309 clement,1977,burma superstar restaurant,87.0,2016.0,309 clement,burma,37.783004,-122.462539
11,ikes kitchen,Food Services,"Restaurant Greater Than 2,000 Sqft",800 van ness ave bldg,CA,San Francisco,94109.0,12/21/2017,NaN,Tenderloin,...,ikes,ikes800 van,94910,ikes kitchen,NaN,NaN,800 van,ikes,NaN,NaN
12,foundation cafe,Food Services,NaN,645 5th st,CA,San Francisco,94107.0,12/15/2017,NaN,NaN,...,foundation,foundation645 5th,94387,foundation cafe,85.0,2018.0,645 5th,foundation,NaN,NaN
15,new york pizza kitchen,Food Services,NaN,127 eddy st,CA,San Francisco,94102.0,03/16/2016,03/14/2017,NaN,...,new,new127 eddy,91028,new york pizza kitchen,85.0,2017.0,127 eddy,new,NaN,NaN
16,new york pizza kitchen,Food Services,NaN,127 eddy st,CA,San Francisco,94102.0,03/16/2016,03/14/2017,NaN,...,new,new127 eddy,91028,new york pizza kitchen,89.0,2018.0,127 eddy,new,NaN,NaN
17,new york pizza kitchen,Food Services,"Restaurant Less Than 1,000 Sqft",127 eddy st,CA,San Francisco,94102.0,03/14/2017,NaN,NaN,...,new,new127 eddy,91028,new york pizza kitchen,85.0,2017.0,127 eddy,new,NaN,NaN
18,new york pizza kitchen,Food Services,"Restaurant Less Than 1,000 Sqft",127 eddy st,CA,San Francisco,94102.0,03/14/2017,NaN,NaN,...,new,new127 eddy,91028,new york pizza kitchen,89.0,2018.0,127 eddy,new,NaN,NaN
19,corner bakery cafe #1584,Food Services,Places Of Public Assembly & Open-Air Assembly,665 market st,CA,San Francisco,94105.0,05/01/2015,NaN,NaN,...,corner,corner665 market,83327,corner bakery cafe #1584,96.0,2017.0,665 market,corner,NaN,NaN
20,corner bakery cafe #1584,Food Services,Places Of Public Assembly & Open-Air Assembly,665 market st,CA,San Francisco,94105.0,05/01/2015,NaN,NaN,...,corner,corner665 market,83327,corner bakery cafe #1584,96.0,2016.0,665 market,corner,NaN,NaN
21,corner bakery cafe #106,Food Services,NaN,665 market st,CA,San Francisco,94105.0,07/08/2014,04/30/2015,NaN,...,corner,corner665 market,83327,corner bakery cafe #1584,96.0,2017.0,665 market,corner,NaN,NaN
22,corner bakery cafe #106,Food Services,NaN,665 market st,CA,San Francisco,94105.0,07/08/2014,04/30/2015,NaN,...,corner,corner665 market,83327,corner bakery cafe #1584,96.0,2016.0,665 market,corner,NaN,NaN
23,corner bakery cafe #106,Food Services,NaN,665 market st,CA,San Francisco,94105.0,05/01/2015,NaN,NaN,...,corner,corner665 market,83327,corner bakery cafe #1584,96.0,2017.0,665 market,corner,NaN,NaN
24,corner bakery cafe #106,Food Services,NaN,665 market st,CA,San Francisco,94105.0,05/01/2015,NaN,NaN,...,corner,corner665 market,83327,corner bakery cafe #1584,96.0,2016.0,665 market,corner,NaN,NaN
25,the cordial,Food Services,NaN,163 jessie st,CA,San Francisco,94105.0,01/02/2018,NaN,NaN,...,the,the163 jessie,95877,the cordial,NaN,NaN,163 jessie,the,NaN,NaN
27,sorrel restaurant,Food Services,Multiple,3228 sacramento st,CA,San Francisco,94115.0,01/01/2018,NaN,NaN,...,sorrel,sorrel3228 sacramento,94604,sorrel restaurant,93.0,2018.0,3228 sacramento,sorrel,NaN,NaN
28,new fortune dim sum,Food Services,NaN,811 stockton st,CA,San Francisco,94108.0,01/01/2018,NaN,NaN,...,new,new811 stockton,94502,new fortune restaurant,NaN,NaN,811 stockton,new,NaN,NaN
29,new fortune restaurant,Food Services,"Restaurant Less Than 1,000 Sqft",811 stockton st,CA,San Francisco,94108.0,01/01/2018,NaN,NaN,...,new,new811 stockton,94502,new fortune restaurant,NaN,NaN,811 stockton,new,NaN,NaN
31,new fortune dim sum,Food Services,NaN,811 stockton st,CA,San Francisco,94108.0,01/01/2012,01/01/2018,Chinatown,...,new,new811 stockton,94502,new fortune restaurant,NaN,NaN,811 stockton,new,NaN,NaN
32,braised + bread,Food Services,"Restaurant 1,000 - 2,000 Sqft",50 post st unit 65a,CA,San Francisco,94104.0,01/02/2018,NaN,Financial District/South Beach,...,braised,braised50 post,94432,braised + bread,100.0,2018.0,50 post,braised,NaN,NaN
33,marina round table pizza,Food Services,"Restaurant 1,000 - 2,000 Sqft",1503 north point st,CA,San Francisco,94123.0,01/01/2018,NaN,Marina,...,marina,marina1503 north,94689,marina round table pizza,NaN,NaN,1503 north,marina,NaN,NaN
34,hayes valley bakeworks,Food Services,Take-Out Establishment,525 golden gate ave,CA,San Francisco,94102.0,06/01/2012,NaN,Tenderloin,...,hayes,hayes525 golden,94355,hayes valley bakeworks,NaN,NaN,525 golden,hayes,NaN,NaN
35,freshway fish,Food Services,Caterer Retail Food Vehicles,699 columbus ave,CA,San Francisco,94133.0,04/23/2018,NaN,NaN,...,freshway,freshway699 columbus,96410,freshway fish,NaN,NaN,699 columbus,freshway,NaN,NaN
36,avedanos holly park market,Food Services,Retail Food Market W/food Prep. Lt 5001 Sqft,2057 divisadero st,CA,San Francisco,94115.0,04/16/2007,NaN,NaN,...,avedanos,avedanos2057 divisadero,96575,avedanos holly park market,NaN,NaN,2057 divisadero,avedanos,NaN,NaN
37,joint venture kitchen,Food Services,"Restaurant 1,000 - 2,000 Sqft",167 11th street,CA,San Francisco,94103.0,06/26/2017,NaN,South of Market,...,joint,joint167 11th,92980,joint venture kitchen,93.0,2018.0,167 11th,joint,NaN,NaN
38,there sushibar restaurant,Food Services,"Restaurant Greater Than 2,000 Sqft",393 bay st,CA,San Francisco,94133.0,01/04/2018,NaN,NaN,...,there,there393 bay,94577,there sushibar restaurant,94.0,2018.0,393 bay,there,NaN,NaN
47,uber atg (bon appetit),Food Services,Employee Cafeterias W/food Prep,575 20th st 113 1fl,CA,San Francisco,94301.0,07/01/1987,NaN,Potrero Hill,...,uber,uber575 20th,94210,uber atg (bon appetit),NaN,NaN,575 20th,uber,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,jacks bar,Food Services,Places Of Public Assembly & Open-Air Assembly,2801 leavenworth st j31-32,CA,San Francisco,94133.0,04/01/1998,NaN,Russian Hill,...,jacks,jacks2801 leavenworth,3325,jacks cannery,96.0,2017.0,2801 leavenworth,jacks,37.807155,-122.419004
185,jacks bar,Food Services,Places Of Public Assembly & Open-Air Assembly,2801 leavenworth st j31-32,CA,San Francisco,94133.0,04/01/1998,NaN,Russian Hill,...,jacks,jacks2801 leavenworth,3325,jacks cannery,77.0,2016.0,2801 leavenworth,jacks,37.807155,-122.419004
186,jacks bar,Food Services,Places Of Public Assembly & Open-Air Assembly,2801 leavenworth st j31-32,CA,San Francisco,94133.0,04/01/1998,NaN,Russian Hill,...,jacks,jacks2801 leavenworth,3325,jacks cannery,83.0,2016.0,2801 leavenworth,jacks,37.807155,-122.419004
187,jacks cannery,Food Services,"Restaurant Greater Than 2,000 Sqft",2801 leavenworth st,CA,San Francisco,94133.0,04/01/1998,NaN,Russian Hill,...,jacks,jacks2801 leavenworth,3325,jacks cannery,96.0,2017.0,2801 leavenworth,jacks,37.807155,-122.419004
188,jacks cannery,Food Services,"Restaurant Greater Than 2,000 Sqft",2801 leavenworth st,CA,San Francisco,94133.0,04/01/1998,NaN,Russian Hill,...,jacks,jacks2801 leavenworth,3325,jacks cannery,77.0,2016.0,2801 leavenworth,jacks,37.807155,-122.419004
189,jacks cannery,Food Services,"Restaurant Greater Than 2,000 Sqft",2801 leavenworth st,CA,San Francisco,94133.0,04/01/1998,NaN,Russian Hill,...,jacks,jacks2801 leavenworth,3325,jacks cannery,83.0,2016.0,2801 leavenworth,jacks,37.807155,-122.419004
214,clooneys,Food Services,"Restaurant 1,000 - 2,000 Sqft",1401 valencia st,CA,San Francisco,94110.0,12/01/2003,NaN,NaN,...,clooneys,clooneys1401 valencia,2369,clooneys,86.0,2017.0,1401 valencia,clooneys,37.750374,-122.420456
215,clooneys,Food Services,"Restaurant 1,000 - 2,000 Sqft",1401 valencia st,CA,San Francisco,94110.0,12/01/2003,NaN,NaN,...,clooneys,clooneys1401 valencia,2369,clooneys,83.0,2018.0,1401 valencia,clooneys,37.750374,-122.420456
216,clooneys,Food Services,"Restaurant 1,000 - 2,000 Sqft",1401 valencia st,CA,San Francisco,94110.0,12/01/2003,NaN,NaN,...,clooneys,clooneys1401 valencia,2369,clooneys,86.0,2016.0,1401 valencia,clooneys,37.750374,-122.420456
220,mcdonalds #11742,Food Services,NaN,255 winston dr,CA,San Francisco,94132.0,11/01/2001,NaN,NaN,...,mcdonalds,mcdonalds255 winston,88524,mcdonalds,96.0,2016.0,255 winston,mcdonalds,NaN,NaN
221,mcdonalds #11742,Food Services,NaN,255 winston dr,CA,San Francisco,94132.0,11/01/2001,NaN,NaN,...,mcdonalds,mcdonalds255 winston,88524,mcdonalds,73.0,2017.0,255 winston,mcdonalds,NaN,NaN
222,mcdonalds #11742,Food Services,NaN,255 winston dr,CA,San Francisco,94132.0,11/01/2001,NaN,NaN,...,mcdonalds,mcdonalds255 winston,88524,mcdonalds,98.0,2018.0,255 winston,mcdonalds,NaN,NaN
223,mcdonalds,Food Services,Multiple,255 winston dr unit,CA,San Francisco,94132.0,01/01/2016,NaN,Lakeshore,...,mcdonalds,mcdonalds255 winston,88524,mcdonalds,96.0,2016.0,255 winston,mcdonalds,NaN,NaN
224,mcdonalds,Food Services,Multiple,255 winston dr unit,CA,San Francisco,94132.0,01/01/2016,NaN,Lakeshore,...,mcdonalds,mcdonalds255 winston,88524,mcdonalds,73.0,2017.0,255 winston,mcdonalds,NaN,NaN
225,mcdonalds,Food Services,Multiple,255 winston dr unit,CA,San Francisco,94132.0,01/01/2016,NaN,Lakeshore,...,mcdonalds,mcdonalds255 winston,88524,mcdonalds,98.0,2018.0,255 winston,mcdonalds,NaN,NaN
226,sushi shoh,Food Services,NaN,406 dewey blvd,CA,San Francisco,94116.0,04/26/2018,NaN,NaN,...,sushi,sushi406 dewey,96577,sushi shoh,92.0,2018.0,406 dewey,sushi,NaN,NaN
228,sushi shoh,Food Services,NaN,406 dewey bl,CA,San Francisco,94116.0,05/06/2013,10/17/2016,West of Twin Peaks,...,sushi,sushi406 dewey,96577,sushi shoh,92.0,2018.0,406 dewey,sushi,NaN,NaN
229,sushi shoh,Food Services,NaN,406 dewey blvd,CA,San Francisco,94116.0,10/17/2016,10/17/2016,NaN,...,sushi,sushi406 dewey,96577,sushi shoh,92.0,2018.0,406 dewey,sushi,NaN,NaN
230,sushi shoh,Food Services,"Restaurant 1,000 - 2,000 Sqft",406 dewey blvd,CA,San Francisco,94116.0,10/18/2016,06/28/2018,NaN,...,sushi,sushi406 dewey,96577,sushi shoh,92.0,2018.0,406 dewey,sushi,NaN,NaN
231,gochees pizza,Food Services,NaN,2 embarcadero ctr unit b6,CA,San+francisco,94111.0,06/01/2018,NaN,NaN,...,gochees,gochees2 embarcadero,96576,gochees pizza,NaN,NaN,2 embarcadero,gochees,NaN,NaN
431,peaches patties llc,Food Services,NaN,2948 folsom st,CA,San Francisco,94110.0,06/01/2018,NaN,NaN,...,peaches,peaches2948 folsom,89512,peaches patties,100.0,2016.0,2948 folsom,peaches,NaN,NaN
432,peaches patties llc,Food Services,NaN,2948 folsom st,CA,San Francisco,94110.0,06/01/2018,NaN,NaN,...,peaches,peaches2948 folsom,89512,peaches patties,93.0,2017.0,2948 folsom,peaches,NaN,NaN
433,peaches patties llc,Food Services,NaN,2948 folsom st,CA,San Francisco,94110.0,06/01/2018,NaN,NaN,...,peaches,peaches2948 folsom,89512,peaches patties,100.0,2018.0,2948 folsom,peaches,NaN,NaN
434,peaches patties,Food Services,Caterer,2948 folsom st,CA,San Francisco,94110.0,06/13/2014,05/31/2018,NaN,...,peaches,peaches2948 folsom,89512,peaches patties,100.0,2016.0,2948 folsom,peaches,NaN,NaN
435,peaches patties,Food Services,Caterer,2948 folsom st,CA,San Francisco,94110.0,06/13/2014,05/31/2018,NaN,...,peaches,peaches2948 folsom,89512,peaches patties,93.0,2017.0,2948 folsom,peaches,NaN,NaN
436,peaches patties,Food Services,Caterer,2948 folsom st,CA,San Francisco,94110.0,06/13/2014,05/31/2018,NaN,...,peaches,peaches2948 folsom,89512,peaches patties,100.0,2018.0,2948 folsom,peaches,NaN,NaN
437,peaches patties llc,Food Services,NaN,331 cortland ave,CA,San Francisco,94110.0,06/01/2018,NaN,NaN,...,peaches,peaches331 cortland,89511,peaches patties,100.0,2017.0,331 cortland,peaches,NaN,NaN
438,peaches patties llc,Food Services,NaN,331 cortland ave,CA,San Francisco,94110.0,06/01/2018,NaN,NaN,...,peaches,peaches331 cortland,89511,peaches patties,100.0,2017.0,331 cortland,peaches,NaN,NaN
439,peaches patties llc,Food Services,NaN,331 cortland ave,CA,San Francisco,94110.0,06/01/2018,NaN,NaN,...,peaches,peaches331 cortland,89511,peaches patties,100.0,2016.0,331 cortland,peaches,NaN,NaN
440,peaches patties llc,Food Services,NaN,331 cortland ave,CA,San Francisco,94110.0,06/01/2018,NaN,NaN,...,peaches,peaches331 cortland,89511,peaches patties,100.0,2018.0,331 cortland,peaches,NaN,NaN

In [160]:
path = os.path.join('Cleaned Datasets', 'final-merged.csv')
merged.to_csv(path, index=False)