In [18]:
import numpy as np
import pandas as pd
import os

In [19]:
#Set the paths
registered_business_path = os.path.join('Cleaned Datasets', 'cleaned_registered_businesses.csv')
# health_scores_path = os.path.join('Cleaned Datasets', 'health_scores.csv')

#merge the aggregated health scores with MA
health_scores_path = os.path.join('Cleaned Datasets', 'aggregated_health_scores_ma.csv')


registered_business_df = pd.read_csv(registered_business_path)
health_scores_df = pd.read_csv(health_scores_path)

In [20]:
registered_business_df.head(10)
len(registered_business_df)

223102

In [21]:
#lower the name of the business and street address
registered_business_df['business_name'] = registered_business_df['business_name'].str.lower()
registered_business_df['street_address'] = registered_business_df['street_address'].str.lower()

#Drop any business_name or street_address that has null values
registered_business_df['street_address'].replace('', np.nan, inplace=True)
registered_business_df = registered_business_df.dropna(subset=['street_address'])

#Convert street address column to string 
registered_business_df['street_address'] = registered_business_df['street_address'].astype('str')

#convert zipcode address column to int
#registered_business_df['zipcode'] = registered_business_df['zipcode'].astype('int')


registered_business_df.head(1)
len(registered_business_df)

223098

In [22]:
#remove the whitespaces at the end of business and street address
registered_business_df['business_name'] = registered_business_df['business_name'].str.strip()
registered_business_df['street_address'] = registered_business_df['street_address'].str.strip()

registered_business_df.head(1)

,business_name,category,lic_code,street_address,State,City,zipcode,business_start_date,business_end_date,neighborhoods,business_location,supervisor_district,Lifespan,closed,age_if_opened
0,blossoming lotus acupuncture,Private Education and Health Services,NaN,2670 leavenworth st a,CA,San Francisco,94109.0,01/28/2010,NaN,North Beach,"2670 LEAVENWORTH ST\nA San Francisco, CA 94109\n",2.0,NaN,no,3107.0

In [23]:
registered_business_df.head(1)

,business_name,category,lic_code,street_address,State,City,zipcode,business_start_date,business_end_date,neighborhoods,business_location,supervisor_district,Lifespan,closed,age_if_opened
0,blossoming lotus acupuncture,Private Education and Health Services,NaN,2670 leavenworth st a,CA,San Francisco,94109.0,01/28/2010,NaN,North Beach,"2670 LEAVENWORTH ST\nA San Francisco, CA 94109\n",2.0,NaN,no,3107.0

In [24]:
# replace ', ", -, etc
registered_business_df['business_name'] = registered_business_df['business_name'].str.replace(r"[\"\',-.@!$%^&*]", '')

#get the first 2 words from street address
registered_business_df['formatted_address'] = registered_business_df['street_address'].str.split().str[0] + " " + registered_business_df['street_address'].str.split().str[1]
registered_business_df['formatted_name'] = registered_business_df['business_name'].str.split().str[0]

#drop the null formatted addresses 
registered_business_df = registered_business_df.dropna(subset=['formatted_address'])

#create a unique id based off the formatted address and name
registered_business_df['uniqueid'] = registered_business_df['formatted_name'] + registered_business_df['formatted_address']

registered_business_df.head(1)

,business_name,category,lic_code,street_address,State,City,zipcode,business_start_date,business_end_date,neighborhoods,business_location,supervisor_district,Lifespan,closed,age_if_opened,formatted_address,formatted_name,uniqueid
0,blossoming lotus acupuncture,Private Education and Health Services,NaN,2670 leavenworth st a,CA,San Francisco,94109.0,01/28/2010,NaN,North Beach,"2670 LEAVENWORTH ST\nA San Francisco, CA 94109\n",2.0,NaN,no,3107.0,2670 leavenworth,blossoming,blossoming2670 leavenworth

In [28]:
registered_business_df.dtypes

business_name           object
category                object
lic_code                object
street_address          object
State                   object
City                    object
zipcode                float64
business_start_date     object
business_end_date       object
neighborhoods           object
business_location       object
supervisor_district    float64
Lifespan               float64
closed                  object
age_if_opened          float64
formatted_address       object
formatted_name          object
uniqueid                object
dtype: object

In [34]:
#strip the zipcode .0
registered_business_df['zipcode'] = registered_business_df['zipcode'].astype('str').str.strip('.0')

#add a new column with concatted address
registered_business_df['full_address'] = registered_business_df['street_address'] + ', ' + registered_business_df['City'] + ', ' + registered_business_df['State'] + ', ' + registered_business_df['zipcode'].astype('str')
registered_business_df.head(2)

,business_name,category,lic_code,street_address,State,City,zipcode,business_start_date,business_end_date,neighborhoods,business_location,supervisor_district,Lifespan,closed,age_if_opened,formatted_address,formatted_name,uniqueid,full_address
0,blossoming lotus acupuncture,Private Education and Health Services,NaN,2670 leavenworth st a,CA,San Francisco,94109,01/28/2010,NaN,North Beach,"2670 LEAVENWORTH ST\nA San Francisco, CA 94109\n",2.0,NaN,no,3107.0,2670 leavenworth,blossoming,blossoming2670 leavenworth,"2670 leavenworth st a, San Francisco, CA, 94109"
1,zaalouk market deli grocery,Retail Trade,NaN,1209 sutter st,CA,San Francisco,94109,12/01/2015,NaN,Nob Hill,"1209 SUTTER ST\nSAN FRANCISCO, CA 94109\n(37.7...",3.0,NaN,no,974.0,1209 sutter,zaalouk,zaalouk1209 sutter,"1209 sutter st, San Francisco, CA, 94109"

# Clean up the health scores dataset

In [35]:
health_scores_df.head(10)

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,score,date,type,year,month,MA,formatted_name,formatted_address
0,95059,95059 PORTABLES SAY HEY SAUSAGE,24 WILLIE MAYS PL SEC 114,San Francisco,CA,94107.0,NaN,NaN,14157735128,100.0,2018-03-26,routine,2018.0,3.0,100.0,95059 PORTABLES,24 WILLIE
1,4424,BON APPETIT @ USF- OUTTA HERE,2130 FULTON ST,San Francisco,CA,94117.0,37.775117,-122.452065,14154225849,94.0,2017-12-04,routine,2017.0,12.0,94.0,BON APPETIT,2130 FULTON
2,1674,NORDSTROM CAFE BISTRO,865 MARKET ST,San Francisco,CA,94103.0,37.784317,-122.407563,14159775154,96.0,2018-01-08,routine,2018.0,1.0,93.0,NORDSTROM CAFE,865 MARKET
3,37633,100% DESSERT CAFE,2512 CLEMENT ST,San Francisco,CA,94121.0,37.781988,-122.486252,14153097778,88.0,2018-06-22,routine,2018.0,6.0,85.0,100% DESSERT,2512 CLEMENT
4,65776,111 MINNA GALLERY,111 MINNA ST,San Francisco,CA,94105.0,37.787378,-122.399459,14159741719,100.0,2018-05-01,routine,2018.0,5.0,96.0,111 MINNA,111 MINNA
5,69691,1601 BAR & KITCHEN,1601 HOWARD ST,San Francisco,CA,94103.0,NaN,NaN,14153906117,90.0,2018-05-31,routine,2018.0,5.0,84.0,1601 BAR,1601 HOWARD
6,95361,1608 BISTRO,1608 BUSH ST,San Francisco,CA,94109.0,NaN,NaN,14159227887,79.0,2018-05-18,routine,2018.0,5.0,79.0,1608 BISTRO,1608 BUSH
7,4474,17TH & NOE MARKET,3900 17TH ST,San Francisco,CA,94114.0,37.762638,-122.433242,14158636337,96.0,2017-10-11,routine,2017.0,10.0,96.0,17TH &,3900 17TH
8,64717,18 REASONS,3674 18TH ST,San Francisco,CA,94110.0,37.761498,-122.425402,14152419760,92.0,2018-02-28,routine,2018.0,2.0,95.0,18 REASONS,3674 18TH
9,27350,18TH STREET COMMISSARY,3334 18TH ST,San Francisco,CA,94110.0,37.761965,-122.417948,NaN,85.0,2018-06-20,routine,2018.0,6.0,84.0,18TH STREET,3334 18TH

In [36]:
#lower the name of the business and street address
health_scores_df['name'] = health_scores_df['name'].str.lower()
health_scores_df['address'] = health_scores_df['address'].str.lower()

#Drop any street_address that has null values
health_scores_df['address'].replace('', np.nan, inplace=True)
health_scores_df = health_scores_df.dropna(subset=['address'])

#Convert street address column to string 
health_scores_df['address'] = health_scores_df['address'].astype(str)

registered_business_df.head(1)
len(registered_business_df)

223033

In [37]:
#remove the whitespaces at the end of business and street address
health_scores_df['name'] = health_scores_df['name'].str.strip()
health_scores_df['address'] = health_scores_df['address'].str.strip()

health_scores_df.head(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,score,date,type,year,month,MA,formatted_name,formatted_address
0,95059,95059 portables say hey sausage,24 willie mays pl sec 114,San Francisco,CA,94107.0,NaN,NaN,14157735128,100.0,2018-03-26,routine,2018.0,3.0,100.0,95059 PORTABLES,24 WILLIE

In [38]:
# replace ', ", -, etc
health_scores_df['name'] = health_scores_df['name'].str.replace(r"[\"\',-.@!$%^&*]", '')

#get the first 2 words from street address
health_scores_df['formatted_address'] = health_scores_df['address'].str.split().str[0] + " " + health_scores_df['address'].str.split().str[1]
health_scores_df['formatted_name'] = health_scores_df['name'].str.split().str[0]

#drop the null formatted addresses 
health_scores_df = health_scores_df.dropna(subset=['formatted_address'])

#create a unique id based off the formatted address and name
health_scores_df['uniqueid'] = health_scores_df['formatted_name'] + health_scores_df['formatted_address']

In [39]:
#get the columns we need
# health_scores_df = health_scores_df[['business_id', 'name', 'score', 'year', 'formatted_address', 'formatted_name', 'latitude', 'longitude', 'uniqueid']]

#moving average
health_scores_df = health_scores_df[['business_id', 'name', 'MA', 'year', 'formatted_address', 'formatted_name', 'latitude', 'longitude', 'uniqueid']]

len(health_scores_df)

# health_scores_df.head(1000)

5055

In [40]:
#Merge the registered business df with the geocodes to get unique location id
merged = registered_business_df.merge(health_scores_df, on='uniqueid')

merged = merged[merged['category'] == 'Food Services']
len(merged)

3432

In [43]:
# #read in csv file
# path = os.path.join('geocoderesults.csv')
# df = pd.read_csv(path)

# merged = merged.merge(df, left_on='full_address', right_on='street_address', how='left')
# len(merged)

3432

In [45]:
merged.head(5)

,business_name,category,lic_code,street_address_x,State,City,zipcode,business_start_date,business_end_date,neighborhoods,...,latitude,longitude,uniqueid_y,street_address_y,match,exact,street_address_concat,gps_coordinates,num,x
0,yokai express inc,Food Services,NaN,135 4th st ste 4000,CA,San Francisco,94103,12/28/2017,NaN,Financial District/South Beach,...,NaN,NaN,1.0,"135 4th st ste 4000, San Francisco, CA, 94103",Match,Exact,"135 4th St, SAN FRANCISCO, CA, 94103","-122.40365,37.784016",192295754.0,L
1,sizzling pot king,Food Services,"Restaurant 1,000 - 2,000 Sqft",139 8th st,CA,San Francisco,94103,12/28/2017,NaN,South of Market,...,NaN,NaN,2.0,"139 8th st, San Francisco, CA, 94103",Match,Exact,"139 8th St, SAN FRANCISCO, CA, 94103","-122.41268,37.777096",192287370.0,L
2,burma super star restaurant,Food Services,"Restaurant 1,000 - 2,000 Sqft",309 clement st,CA,San Francisco,94118,03/01/2001,NaN,Inner Richmond,...,37.783004,-122.462539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,foundation cafe,Food Services,NaN,645 5th st,CA,San Francisco,94107,12/15/2017,NaN,NaN,...,NaN,NaN,3.0,"645 5th st, San Francisco, CA, 94107",Match,Exact,"645 5th St, SAN FRANCISCO, CA, 94107","-122.3981,37.77607",192287961.0,L
4,new york pizza kitchen,Food Services,NaN,127 eddy st,CA,San Francisco,94102,03/16/2016,03/14/2017,NaN,...,NaN,NaN,4.0,"127 eddy st, San Francisco, CA, 94102",Match,Exact,"127 Eddy St, SAN FRANCISCO, CA, 94102","-122.40975,37.78428",614161443.0,L

In [42]:
path = os.path.join('Cleaned Datasets', 'final-merged.csv')
merged.to_csv(path, index=False)